@import "./reset", "./fonts", "./loader", "./typography", "./variables",
  "./noise", "./header", "./footer", "./layout", "./sidebar";

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: $staminalight;
}

html {
  padding: 0 4vw;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Stamina";
  color: $staminadark;
  margin: 3vh 0;
  padding-top: 14vh;
  //   height: 350vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 1px solid red;
}

@media (max-width: 800px) {
  html {
    padding: 0 10px;
  }
  body {
    padding-top: 12vh;
    margin: 15px 0;
  }
}
